body {
    display: grid;
    grid-template: 1fr / 1fr 2.5fr;

    margin: 0;
    height: 100vh;
    width: 100vw;
}

#form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#form-container fieldset {
    display: grid;

    text-align: center;
    align-items: center;

    grid-template: 2fr 2fr 1fr / 1fr 1fr;
    width: 400px;
    height: 300px;
}

#start,
#restart {
    width: 100px;
    height: 30px;

    color: mediumseagreen;

    font-weight: 700;

    background-color: white;

    border: 1px solid grey;
    border-radius: 6px;
}

#start:hover,
#restart:hover {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    transition: 0.3s;
    outline: none;
}

input[type="text"] {
    height: 25px;
    padding-left: 6px;

    border-radius: 2px;
    border: 1px solid #9ecaed;
}

input[type="text"]:focus {
    border-color: #4169E1;
    box-shadow: 0 0 4px #4169E1;
    transition: 0.3s;
    outline: none;
}

#restart {
    color: orange;
}

.square {
    width: 175px;
    height: 175px;
    border: 1px solid black;
}

#gameboard {
    display: grid;

    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-column: 2 / 3;

    align-self: center;

    width: 525px;
    height: 525px;
}

#gameboard-container {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);

    height: 100vh;
    width: 100%;
}